In [53]:

import numpy as np
import pandas as pd
# from sklearn.cross_validation import train_test_split
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier 
from sklearn.metrics import accuracy_score
from sklearn import tree

In [54]:
# load data 
data = pd.read_csv('robocane.csv', sep=',', names = ['Label', 'Type', 'Time', 'DF1', 'DF2', 'DF3', 'DF4', 'DF5'])
data[:10]

  Label  Type      Time       DF1       DF2       DF3       DF4       DF5
0    no     1  0.740000  2.845124  3.190756  2.851736  2.449951  2.192274
1    no     1  0.790000  2.505040  2.845124  3.190756  2.851736  2.449951
2    no     1  0.840000  1.585220  2.505040  2.845124  3.190756  2.851736
3    no     1  0.890000  1.097772  1.585220  2.505040  2.845124  3.190756
4    no     1  0.940000  0.944046  1.097772  1.585220  2.505040  2.845124
5    no     1  0.990000  1.040458  0.944046  1.097772  1.585220  2.505040
6    no     1  1.040000  1.339180  1.040458  0.944046  1.097772  1.585220
7    no     1  1.089999  1.630158  1.339180  1.040458  0.944046  1.097772
8    no     1  1.140000  1.707994  1.630158  1.339180  1.040458  0.944046
9    no     1  0.745000  2.872218  2.752256  2.311181  2.430384  2.834077

In [55]:
d = data.sample(frac=1)
# d = d.sample(frac=2, replace=True)
d[257:267]

,Label,Type,Time,DF1,DF2,DF3,DF4,DF5
3616,yes,2,0.690001,8.146495,6.314159,5.438288,3.207632,3.761654
327,no,1,1.040000,0.666510,0.673680,0.574472,1.043040,2.022819
5541,yes,2,0.890000,9.272867,8.991443,7.187619,4.155394,3.703047
6995,yes,3,0.745000,6.380895,6.015051,4.558387,3.975503,3.588221
6713,yes,3,7.585000,17.022776,17.020923,17.045833,17.048371,17.030523
7729,yes,4,2.285001,11.269667,9.393161,9.221216,7.704526,5.065464
5098,yes,2,1.315001,9.659143,8.215130,9.272175,7.908728,7.807174
7025,yes,3,2.280001,23.043667,22.933616,23.092070,23.286180,24.137498
5695,yes,2,8.730000,17.134530,17.155543,17.171239,17.164972,17.126582
1506,no,3,1.934999,7.579440,7.273962,7.198370,7.122765,6.879043

In [56]:
# data.info()
data.shape

(11403, 8)

In [62]:
# Seperate the target variable 
X = data.values[:, 2:7]
Y = data.values[:, 0]

# Split Dataset into Test and Train 
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2, random_state = 100)

# Fnuction to perform training with Entropy 
clf_entropy = DecisionTreeClassifier(criterion = "entropy", random_state = 100, max_depth = 7, min_samples_leaf = 10)
clf_entropy.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=7,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=10, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=100,
            splitter='best')

In [63]:
# prediction and test 
y_pred_en = clf_entropy.predict(X_test)
print('Accuracy is'), accuracy_score(y_test, y_pred_en)*100

Accuracy is

(None, 96.36124506795265)

In [61]:
print(y_pred_en)
print(y_test)

['no' 'yes' 'yes' ... 'no' 'yes' 'yes']
['no' 'yes' 'yes' ... 'no' 'yes' 'yes']